.menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 32px -3px black;
}

.menu-item {
  text-transform: uppercase;
  width: 7vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9vw;
  transition: all 0.5s linear;
}

.menu-item > a {
  opacity: 0.4;
  color: white;
  transition: all 0.5s ease-in-out linear;
  text-decoration: none;
  border: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-item {
  border-bottom: 1px solid var(--pink);
  transition: all 0.5s ease-in-out;
}

.menu .active {
  border-bottom: 1px solid var(--pink);
  transition: all 0.5s ease-in-out;
}

.menu .active > a {
  opacity: 1;
}

.menu .menu-item:hover {
  border-bottom: 1px solid var(--pink);
}

.menu a:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
