.menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 32px -3px black;
}

.menu-item {
  text-transform: uppercase;
  width: 7vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9vw;
  transition: all 0.5s linear;
}

.menu-item > a {
  opacity: 0.4;
  color: white;
  transition: all 0.5s ease-in-out linear;
  text-decoration: none;
  border: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-item {
  border-bottom: 1px solid var(--pink);
  transition: all 0.5s ease-in-out;
}

.menu .active {
  border-bottom: 1px solid var(--pink);
  transition: all 0.5s ease-in-out;
}

.menu .active > a {
  opacity: 1;
}

.menu .menu-item:hover {
  border-bottom: 1px solid var(--pink);
}

.menu a:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}


.toggle {
  position: absolute;
  content: "";
  width: 4.3vw;
  right: 3vw;
  border-radius: 1vw;
  height: 1.6vw;
  display: flex;
  align-items: center;
  color: var(--bg-dark);
  transition: all 1s ease-in-out;
  font-family: "Futura";
}

.eng{
  background-color: var(--pink);
  box-shadow: 0 0 14px 3px var(--pink);
}

.heb{
  background-color: var(--blue);
  box-shadow: 0 0 14px 3px var(--blue);
}

.toggle:hover{
  cursor: pointer;
}

.eng-span {
  position: absolute;
  font-size: 0.65vw;
  left: 2.1vw;
  text-transform: uppercase;
  opacity: 0;
  animation: FadeInSpan 1s both;
  animation-delay: 1s;
}

.heb-span {
  position: absolute;
  font-size: 0.65vw;
  left: 0.9vw;
  text-transform: uppercase;
  opacity: 0;
  animation: FadeInSpan 1s both;
  animation-delay: 1.1s;
}


@keyframes FadeInSpan{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.inside-toggle {
  content: "";
  height: 1.9vw;
  display: flex;
  width: 1.9vw;
  border-radius: 50%;
  justify-content: center;
  font-size: 0.6vw;
  align-items: center;
  position: absolute;
  text-transform: uppercase;
  transition: all 1s ease-in-out;
}

.eng .inside-toggle {
  background-color: rgb(243 167 209);
  left: -0.2vw;
}

.heb .inside-toggle {
  background-color: #bce9f6;
  left: 2.5vw;
}