.layout {
  height: 270vw;
  position: absolute;
  width: 100%;
  background-color: var(--light-bg);
  display: flex;
  flex-direction: column;
}

.welcome-area {
  z-index: 3;
}

.layout > main {
  width: 100%;
  height: 50vw;
  right: 0;
  position: absolute;
  background-color: var(--semi-dark-bg);
  z-index: 0;
}

.layout > header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  height: 4vw;
  background-color: var(--bg-dark);
}

.about,
.technologies,
.projects,
.cv,
.social,
.form {
  animation: FadeUp 1s both;
}

@keyframes FadeUp {
  0% {
    transform: translateY(10vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
