.about{
  width: 100%;
  background-color: var(--light-bg);;
  height: 41vw;
  position: absolute;
  top: 50vw;
}

.about-box {
  height: 20vw;
  background-color: var(--bg-dark);
  width: 50vw;
  position: absolute;
  top: 50%;
  right: 50%;
  /* box-shadow: 0 0 66px -3px var(--off-white); */
  transform: translateX(50%) translateY(-50%);
  color: var(--off-white);
}

.about-box > h1 {
  text-transform: uppercase;
}

.about-box > .buttons-area {
  display: flex;
  position: absolute;
  right: 50%;
  top: 9vw;
  transform: translateX(50%);
}

.buttons-area > button:hover {
  cursor: pointer;
}

.work-btn {
  border: 2px solid var(--red);
  color: var(--red);
}

.study-btn {
  border: 2px solid var(--blue);
  color: var(--blue);
}

.about-btn {
  border: 2px solid var(--pink);
  color: var(--pink);
}

.buttons-area > button {
  width: 13vw;
  margin: 0 1vw;
  height: 4vw;
  font-size: 1vw;
  text-transform: uppercase !important;
  background-color: var(--bg-dark);
  transition: all 0.7s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.about-icon {
  width: 2.5vw;
  margin-right: 0.3vw;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.buttons-area > button > span {
  transform: translateX(-1.5vw);
  transition: all 0.4s ease-in-out;
}

.buttons-area > button:hover {
  cursor: pointer;
  background-color: var(--semi-dark-bg);
}

.buttons-area > button:hover > .about-icon {
  opacity: 1;
}

.buttons-area > button:hover > span {
  transform: translateX(0);
}

.mobile .about {
  width: 100%;
  background-color: var(--light-bg);
  height: 144vw;
  position: absolute;
  top: 173vw;
}

.mobile .about-box {
  height: 110vw;
  background-color: var(--bg-dark);
  width: 80vw;
  position: absolute;
  top: 50%;
  right: 50%;
  box-shadow: 0 0 66px -3px var(--off-white);
  transform: translateX(50%) translateY(-50%);
  color: var(--off-white);
}


.mobile .about-box > .buttons-area {
  display: flex;
  position: absolute;
  right: 50%;
  top: 27vw;
  flex-direction: column;
  transform: translateX(50%);
}

.mobile .buttons-area > button {
  width: 55vw;
  margin: 3vw 0;
  height: 16vw;
  font-family: "Futura";
  font-size: 4vw;
  text-transform: uppercase !important;
  background-color: var(--bg-dark);
  transition: all 0.7s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}