@font-face {
  font-family: "AlmoniLight";
  src: url("fonts/almoni-dl-aaa-light.woff");
}
@font-face {
  font-family: "AlmoniNormal";
  src: url("fonts/almoni-neue-regular-aaa.woff");
}
@font-face {
  font-family: "FuturaMedium";
  src: url("fonts/futuraMediumBT.woff");
}
@font-face {
  font-family: "Futura";
  src: url("fonts/FuturaStdMedium.woff");
}


body,
html,
#root{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: "AlmoniNormal";
  margin: 0;
  padding: 0;
}