@font-face {
  font-family: "AlmoniLight";
  src: url("fonts/almoni-dl-aaa-light.woff");
}
@font-face {
  font-family: "AlmoniNormal";
  src: url("fonts/almoni-neue-regular-aaa.woff");
}
@font-face {
  font-family: "FuturaMedium";
  src: url("fonts/futuraMediumBT.woff");
}
@font-face {
  font-family: "Futura";
  src: url("fonts/FuturaStdMedium.woff");
}


body,
html,
#root{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: "Futura";
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  --bg-dark: rgb(30, 30, 30);
  --semi-dark-bg: rgb(37, 37, 37);
  --light-bg: rgb(51, 51, 51);
  --yellow: rgb(195, 192, 139);
  --off-white: rgb(162, 151, 133);
  --orange: rgb(200, 137, 119);
  --blue: rgb(151, 214, 232);
  --pink: rgb(199, 122, 164);
  --green: rgb(95, 120, 78);
}